<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <div class="row">
                <h2>Online presence</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-lg-offset-2 text-center">
                        <a href="https://www.linkedin.com">
                            <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>Linked in</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-lg-offset-2 text-center">
                        <a href="https://www.behance.net/jeroendemooij">
                            <i class="fa fa-behance fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                            <p>Behance portfolio</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-lg-offset-2 text-center">
                        <a href="https://vimeo.com/thefirstfloor">
                            <i class="fa fa-vimeo fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                            <p>Vimeo videos</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
