<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">I create interactive experiences that turn complex ideas into engaging, hands-on media.
As a freelance designer and developer, I work with researchers, museums, and innovative brands to build 3D content, VR/XR applications, and playful installations. Whether it’s for public engagement, exhibitions, or trade shows — I help bring stories, science, and spaces to life.</p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
