<section id="contact">
    <div class="container text-center">
        <div class="myrow text-center">
            <h2 class="section-heading" style="justify-content: center">Let's Get In Touch!</h2><br>
            <p>I'm always open to discuss your project and see where I can be of help. Contact me via one of these platforms!</p>
        </div>
    </div>
    <div class="container text-center">
        <div class="myrow">
            <div class="col-lg-3 text-center">
                <a href="https://x.com/{{ site.twitter_username }}">
                    <i class="fa-brands fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa-solids fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                    <i class="fa-brands fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://bsky.app/profile/thefirstfloor.bsky.social">
                    <i class="fa-brands fa-bluesky fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>@thefirstfloor.bluesky.social</p>
                </a>
            </div>
        </div>
    </div>
</section>
