<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/logo_1200x640px.png" alt="Thefirstfloor Logo" style="max-width:30%;height:auto;display:block;margin-bottom:20px;">
            <h1>IMMERSIVE MEDIA LAB</h1>
            <p>Freelance developer of interactive digital applications used for and in research, entertaintment, training, education or simular.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
